
<%= form_for(:user, :url => users_path) do |f| %>
	<%= render 'shared/error_messages' %>
    <fieldset>
        <legend>New user</legend>

        <%=  render :partial => 'form', :locals => {:f => f} %>

        <p>
          <%=  submit_tag "Create" %>
        </p>
    </fieldset>
<% end %>

<%=  link_to 'Back', users_path  %>