<h1>Editing Style</h1>

<%= form_for :style, :url => collection_style_path(@style),
 			:html => { :method => :put } do |f| %>

	<fieldset>
		<legend>Edit Style</legend>
		
		<%= render :partial => "form", :locals => {:f => f} %>	

		<%= submit_tag "Update" %>

	<fieldset>	
  
<% end %>

<%= link_to 'Show', collection_style_path(@style) %> |
<%= link_to 'Back',  collection_styles_path %>