<h1><%= @collection.collection %></h1>

<table>
  <tr>
	<th>Base</th>
	<th>Small</th>
	<th>Thumbnail</th>
    <th style="width:150px;">Name</th>
    <th style="width:250px;">Description</th>
    <th style="width:150px;">Color</th>
    <th style="width:150px;">Size</th>
  </tr>

<% @styles.each do |style| %>
    <tr class="styles-row">
		<!--- initialize variables here -->
		<%
			collection = style.collection
			product_image_base = nil
			product_image_small = nil
			product_image_thumbnail = nil
		%>
		<!--- get images from styles -->
		<% style.product_images.each do |product_image| 
			if product_image.image_type == 1 
				product_image_base = product_image
			elsif product_image.image_type == 2
				product_image_small = product_image
			else
				product_image_thumbnail = product_image
			end				
		end %>
		<!--- display base image here -->
		<td>
			<% unless product_image_base.nil? %>
				<img src="../../../../../uploads/<%= collection.collection %>/<%=  product_image_base.image_filename %>"
					 width="120" height="180">			
			<% else %>
				<%= image_tag "blank.png", :size => "120x180" %>
			<% end %>
		</td>	
		<!--- display small image here -->
		<td>
			<% unless product_image_small.nil? %>
				<img src="../../../../../uploads/<%= collection.collection %>/<%=  product_image_small.image_filename %>"
					 width="120" height="180">			
			<% else %>
				<%= image_tag "blank.png", :size => "120x180" %>
			<% end %>
		</td>	
		<!--- display thumbnail image here -->
		<td>
			<% unless product_image_thumbnail.nil? %>
				<img src="../../../../../uploads/<%= collection.collection %>/<%=  product_image_thumbnail.image_filename %>"
					 width="120" height="180">			
			<% else %>
				<%= image_tag "blank.png", :size => "120x180" %>
			<% end %>
		</td>	
        <td style="width:150px;"><%=  style.name %></td>
        <td style="width:250px;"><%=  style.description %></td>
        <td style="width:150px;"><%=  Color.exists?(style.color_id)  ? Color.find(style.color_id).color_code : "" %></td>
        <td style="width:150px;"><%=  Size.exists?(style.size_id) ? Size.find(style.size_id).size_code : "" %></td>
        <td><%=  link_to 'Show', collection_style_path(style.collection_id, style) %></td>
        <td><%=  link_to 'Edit', edit_collection_style_path(style.collection_id, style) %></td>
        <td><%=  link_to 'Images', collection_style_product_images_path(style.collection_id, style.id) %></td>
        <td><%=  button_to 'Destroy', collection_style_path(style.collection_id, style), :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
    </tr>
<% end  %>


</table>


<%=  link_to 'New style', new_collection_style_path %>