<h1><%= @collection.collection %></h1>

<%=  link_to 'Back', collections_path %> | 
<%=  link_to 'New style', new_collection_style_path %>

<table>
  <tr>
	<th>Base</th>
	<th>Small</th>
	<th>Thumbnail</th>
    <th style="width:150px;">Name</th>
    <th style="width:250px;">Description</th>
    <th style="width:150px;">Color</th>
    <th style="width:150px;">Size</th>
    <th style="width:150px;">Position</th>
  </tr>

<% @styles.each do |style| %>
    <tr class="styles-row">
		<!--- display base image here -->
		<td>
	      	<%= image_tag style.picture.url(:base), :size => "120x180" %>			
		</td>	
		<!--- display small image here -->
		<td>
	      	<%= image_tag style.picture.url(:small), :size => "120x180" %>			
		</td>	
		<!--- display thumbnail image here -->
		<td>
	      	<%= image_tag style.picture.url(:thumbnail), :size => "120x180" %>			
		</td>	
        <td style="width:150px;"><%=  style.name %></td>
        <td style="width:250px;"><%=  style.description %></td>
        <td style="width:150px;"><%=  Color.exists?(style.color_id)  ? Color.find(style.color_id).color_code : "" %></td>
        <td style="width:150px;"><%=  Size.exists?(style.size_id) ? Size.find(style.size_id).size_code : "" %></td>
        <td style="width:150px;"><%=  style.position %></td>
        <td><%=  link_to 'Show', collection_style_path(style.collection_id, style) %></td>
        <td><%=  link_to 'Edit', edit_collection_style_path(style.collection_id, style) %></td>
        <td><%=  button_to 'Destroy', collection_style_path(style.collection_id, style), :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
    </tr>
<% end  %>


</table>


<%=  link_to 'New style', new_collection_style_path %>