<h1><%= @collection.collection %></h1>

<table>
  <tr>
	<th>Base</th>
	<th>Small</th>
	<th>Thumbnail</th>
    <th style="width:150px;">Name</th>
    <th style="width:250px;">Description</th>
    <th style="width:150px;">Color</th>
    <th style="width:150px;">Size</th>
  </tr>

<% @styles.each do |style| %>
    <tr class="styles-row">
		<td><%= image_tag "blank.png", :size => "138x215", :alt => "" %></td>
		<td><%= image_tag "blank.png", :size => "138x215", :alt => "" %></td>
		<td><%= image_tag "blank.png", :size => "138x215", :alt => "" %></td>
        <td style="width:150px;"><%=  style.name %></td>
        <td style="width:250px;"><%=  style.description %></td>
        <td style="width:150px;"><%=  Color.exists?(style.color_id)  ? Color.find(style.color_id).color_code : "" %></td>
        <td style="width:150px;"><%=  Size.exists?(style.size_id) ? Size.find(style.size_id).size_code : "" %></td>
        <td><%=  link_to 'Show', collection_style_path(style.collection_id, style) %></td>
        <td><%=  link_to 'Edit', edit_collection_style_path(style.collection_id, style) %></td>
        <td><%=  link_to 'Images', collection_style_product_images_path(style.collection_id, style.id) %></td>
        <td><%=  button_to 'Destroy', collection_style_path(style.collection_id, style), :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
    </tr>
<% end  %>


</table>


<%=  link_to 'New style', new_collection_style_path %>