<h1>Style : <%= @style.name %></h1>
<h1>Color : <%= @color.color_name %></h1>


<section id="product-images">
	
	<div class="images">		
		<h3>Base</h3>
		<% if @product_image_base.nil? %>
			<!--- if the images are available display it here else display a blank png and render the new form -->		
			<%= image_tag "blank.png", :size => "220x330" %>
		<% elsif %>
			<img src="../../../../../uploads/<%= @product_image_base.style.collection.collection %>/<%=  @product_image_base.image_filename %>"
				 width="220" height="330">			
		<% end %>			
		<%= render :partial => "new_form", :locals => { :product_image => @product_image_base, :image_assigned_type => 1} %>								
	</div>
	
	<div class="images">
		<h3>Small</h3>
		<% if @product_image_small.nil? %>
			<!--- if the images are available display it here else display a blank png and render the new form -->		
			<%= image_tag "blank.png", :size => "220x330" %>
		<% elsif %>
			<img src="../../../../../uploads/<%= @product_image_small.style.collection.collection %>/<%=  @product_image_small.image_filename %>"
				 width="220" height="330">			
		<% end %>			
		<%= render :partial => "new_form", :locals => { :product_image => @product_image_small, :image_assigned_type => 2} %>								
	</div>

	<div class="images">
		<h3>Thumbnail</h3>
		<% if @product_image_thumbnail.nil? %>
			<!--- if the images are available display it here else display a blank png and render the new form -->		
			<%= image_tag "blank.png", :size => "220x330" %>
		<% elsif %>
			<img src="../../../../../uploads/<%= @product_image_thumbnail.style.collection.collection %>/<%=  @product_image_thumbnail.image_filename %>"
				 width="220" height="330">			
		<% end %>			
		<%= render :partial => "new_form", :locals => { :product_image => @product_image_thumbnail, :image_assigned_type => 3} %>								
	</div>
	
		
</section>	