<!--- jQuery for the dialog box -->
<script type="text/javascript">
	$(document).ready(function(e) {
		
		$("#customdialog").dialog({
			resizable: false,
			modal: true,
			autoOpen: false,
			width:400
		});
		
		$(".grid-image").animate({opacity:1},500);
	});
	
</script>

<style type="text/css">
	.grid-image {
		opacity:0;
	}
</style>


<!--- dialog div -->
<div id="customdialog">
	<img id="dialog-img" height="600px" width="400px"/>
	<span id="dialog-style"></span>	
	<span id="dialog-color"></span>	
	<span id="dialog-description"></span>	
	<p class="slide-email"><%= link_to "INQUIRE ABOUT THIS STYLE", "mailto:retail@tadashishoji.com" %></p>	
</div>	

<!--- catalog navigation -->
<% unless @collection.nil? %>
	<%= render :partial => 'catalog-navigation' %>
<% end %>

<% unless @search.nil? %>
	<div id="search-results-bar">
		<div class="search-term"><span>Search results for '<%= @search %>'</span></div>
	</div>	
<% end %>

<div class="styles">
  <% @styles.each_with_index   do |style, index = 1| %>
     <% trueIndex = index + 1 %>                       
		
     <% if  trueIndex == 1 %>
        <ul>
        <li class="grid-style">
			<%= render :partial => '_grid', :locals => {:style => style}  %>
        </li>
    <% elsif trueIndex == @styles.size %>
        <li class="grid-style">
			<%= render :partial => '_grid', :locals => {:style => style}  %>
        </li>
        </ul>
     <% elsif (trueIndex % 5) == 0 %>
        <li class="grid-style">
			<%= render :partial => '_grid', :locals => {:style => style}  %>
        </li>
        </ul>
        <ul>
     <% else %>
		<li class="grid-style">
			<%= render :partial => '_grid', :locals => {:style => style}  %>
        </li>
     <% end %>
  <% end %>
</div>


<!--- remove this jQuery code later -->
<script type="text/javascript">
	/*
	$(".grid-style").mouseover(function(e) {
		$(this).children(".style-name").css("visibility", "visible");
	})

	$(".grid-style").mouseleave(function(e) {
		$(this).children(".style-name").css("visibility", "hidden");
	})*/
	
	// OPTIMIZE function to show the dialog
	function showDialog(name, color, desc, picture) {
		$("#dialog-img").attr("src", '');	
		$("#dialog-img").attr("src", picture);
		$("#dialog-style").text(name);
		$("#dialog-color").text(color);
		$("#dialog-description").text(desc);
		$("#customdialog").dialog("open");
	}
	
</script>



<!--- preload images -->
<% @styles.each do |style| %>
	<%= image_tag style.picture.url(:popup), :class =>  "preload", :alt => nil %>
<% end %>