<!--- jQuery for the dialog box -->
<script type="text/javascript">
	$(document).ready(function(e) {
		
		$("#customdialog").dialog({
			resizable: false,
			modal: true,
			autoOpen: false,
			width:400
		});
		
		$(".grid-image").animate({opacity:1},500);
	});
	
</script>

<style type="text/css">
	.grid-image {
		opacity:0;
	}
</style>


<!--- dialog div -->
<div id="customdialog">
	<img id="dialog-img" height="600px" width="400px"/>
	<span id="dialog-style"></span>	
	<span id="dialog-description"></span>	
</div>	

<!--- catalog navigation -->
<%= render :partial => 'catalog-navigation' %>


<div class="styles">
  <% @styles.each_with_index   do |style, index = 1| %>
     <% trueIndex = index + 1 %>                       
	
	<!--- create variable declaration to be used in loop -->
	<%
		name = style.name
		description = escape_javascript style.description
		picture_base = style.picture.url(:popup)
		picture_small = style.picture.url(:grid)
	%>
	
     <% if  trueIndex == 1 %>
        <ul>
        <li class="grid-style">
			<%= link_to image_tag(picture_small, :alt => nil, 
			:onClick => "showDialog('#{name}','#{description}','#{picture_base}')"),
			'#',  :title => style.name, :class => "grid-image", :onClick => "return false;" %>
			<span class="style-name"><%= style.name %></span>
        </li>
    <% elsif trueIndex == @styles.size %>
        <li class="grid-style">
			<%= link_to image_tag(picture_small, :alt => nil, 
			:onClick => "showDialog('#{name}','#{description}','#{picture_base}')"),
			'#',  :title => style.name, :class => "grid-image", :onClick => "return false;" %>
			<span class="style-name"><%= style.name %></span>
        </li>
        </ul>
     <% elsif (trueIndex % 5) == 0 %>
        <li class="grid-style">
			<%= link_to image_tag(picture_small, :alt => nil, 
			:onClick => "showDialog('#{name}','#{description}','#{picture_base}')"),
			'#',  :title => style.name, :class => "grid-image", :onClick => "return false;" %>
			<span class="style-name"><%= style.name %></span>
        </li>
        </ul>
        <ul>
     <% else %>
		<li class="grid-style">
			<%= link_to image_tag(picture_small, :alt => nil, 
			:onClick => "showDialog('#{name}','#{description}','#{picture_base}')"),
			'#',  :title => style.name, :class => "grid-image", :onClick => "return false;" %>
			<span class="style-name"><%= style.name %></span>
        </li>
     <% end %>
  <% end %>
</div>


<!--- remove this jQuery code later -->
<script type="text/javascript">
	$(".grid-style").mouseover(function(e) {
		$(this).children(".style-name").css("visibility", "visible");
	})

	$(".grid-style").mouseleave(function(e) {
		$(this).children(".style-name").css("visibility", "hidden");
	})
	
	// OPTIMIZE function to show the dialog
	function showDialog(name, desc, picture) {
		$("#dialog-img").attr("src", '');	
		$("#dialog-img").attr("src", picture);
		$("#dialog-style").text(name);
		$("#dialog-description").text(desc);
		$("#customdialog").dialog("open");
	}
	
</script>



<!--- preload images -->
<% @styles.each do |style| %>
	<%= image_tag style.picture.url(:popup), :class =>  "preload", :alt => nil %>
<% end %>