<!--- javascript specific files for the slide view -->
<script type="text/javascript">

	$(document).ready(function(e){

		$("#slidedialog").dialog({
			resizable: false,
			modal: true,
			autoOpen: false,
			width:400
		});
		
	});
	
		

</script>


<style type="text/css">
	
	.slide-base-image {
		position:relative;
	}

	.slide-content {
		position:absolute;
		bottom: 50px;
		right: 10px;
		text-align:right;
		visibility:hidden;
	}
	
	.slide-style-name {

	}
	
	.slide-description {
		margin:20px 0;
	}
	
	.slide-color {
		margin:10px 0;
	}
	
	#slidedialog {
		overflow:hidden;
	}
	
	#slide-dialog-style {
		display:block;
	}
	

</style>

<!--- catalog navigation -->
<%= render :partial => 'catalog-navigation' %>

<div id="slidedialog">
	<img id="slide-dialog-img" height="600px" width="400px"/>
	<span id="slide-dialog-style"></span>	
	<span id="slide-dialog-color"></span>	
	<span id="slide-dialog-description"></span>	
</div>	

<div id="bg">
    <a href="#" class="nextImageBtn" title="next"></a><a href="#" class="prevImageBtn" title="previous"></a>
    <div class="slide-base-image">
		<%= link_to image_tag(@style1.picture.url(:popup),  :id => "previmg", 
			:style_name => @style1.name, :style_description => @style1.description, :style_color => @style1.color.color_name, 
		 	:onClick => "showDialog($('#previmg').attr('style_name'), $('#previmg').attr('style_color'),
			$('#previmg').attr('style_description'), $('#previmg').attr('src'))"),
			'#',    :onClick => "return false;" %>
		<div class="slide-content">
			<p class="slide-style-name prev-style"><%= @style1.name %></p>
			<p class="slide-description prev-description"><%= @style1.description %></p>
			<p class="slide-color prev-color"><%= @style1.color.color_name %></p>
		</div>	
	</div>
    <div id="div-center"  class="slide-base-image">
		<%= link_to image_tag(@style2.picture.url(:popup),  :id => "bgimg", 
			:style_name => @style2.name, :style_description => @style2.description, :style_color => @style2.color.color_name, 
		 	:onClick => "showDialog($('#bgimg').attr('style_name'), $('#bgimg').attr('style_color'),
			$('#bgimg').attr('style_description'), $('#bgimg').attr('src'))"),
			'#',    :onClick => "return false;" %>
		<div class="slide-content">
			<p class="slide-style-name bg-style"><%= @style2.name %></p>
			<p class="slide-description bg-description"><%= @style2.description %></p>
			<p class="slide-color bg-color"><%= @style2.color.color_name %></p>
		</div>	
	</div>
    <div class="slide-base-image">
		<%= link_to image_tag(@style3.picture.url(:popup),  :id => "nextimg", 
			:style_name => @style3.name, :style_description => @style3.description, :style_color => @style3.color.color_name, 
		 	:onClick => "showDialog($('#nextimg').attr('style_name'), $('#nextimg').attr('style_color'),
			$('#nextimg').attr('style_description'), $('#nextimg').attr('src'))"),
			'#',    :onClick => "return false;" %>
		<div class="slide-content">
			<p class="slide-style-name next-style"><%= @style3.name %></p>
			<p class="slide-description next-description"><%= @style3.description %></p>
			<p class="slide-color next-color"><%= @style3.color.color_name %></p>
		</div>	
	</div>
	
</div>
<div id="thumbnails_wrapper">
    <div id="outer_container">
        <div class="thumbScroller">
            <div class="container">
				 <% @styles.each do |style| %>		
					<div class="content">
						<div>
							<%= link_to image_tag(style.picture.url(:mini), :class => "thumb", 
							:style_name => style.name, :style_color => style.color.color_name, :style_description => style.description),
							style.picture.url(:popup) %>
						</div>				
					</div>	
				<% end %>
            </div>
        </div>
    </div>
</div>

<%= javascript_include_tag 'slide' %>
<%= javascript_include_tag 'jquery.preload.min' %>

<!--- remove this jQuery code later -->
<script type="text/javascript">
	
	$(".slide-base-image").hover(
		function() {
			$(this).children(".slide-content").css("visibility", "visible");
		},
		function() {
			$(this).children(".slide-content").css("visibility", "hidden");			
		}
	);
	
	// OPTIMIZE function to show the dialog
	function showDialog(name, color, desc, picture) {
		$("#slide-dialog-img").attr("src", picture);
		$("#slide-dialog-style").text(name);
		$("#slide-dialog-color").text(color);
		$("#slide-dialog-description").text(desc);		
		$("#slidedialog").dialog("open");
	}
	
</script>

<!--- preload images -->
<% @styles.each do |style| %>
	<%= image_tag style.picture.url(:popup), :class =>  "preload", :alt => nil %>
<% end %>