<!--- javascript specific files for the slide view -->
<script type="text/javascript">

	$(document).ready(function(e){

		$("img").bind('load', function(){
			image = $(this);
			image.css("visibility","visible");
		});
		
		$("#slidedialog").dialog({
			resizable: false,
			modal: true,
			autoOpen: false,
			width:400
		});
		
		
	});
	
		

</script>


<style type="text/css">
	
	.slide-base-image {
		position:relative;
	}

	.slide-content {
		position:absolute;
		bottom: 50px;
		right: 10px;
		text-align:right;
		visibility:hidden;
	}
	
	.slide-style-name {

	}
	
	.slide-description {
		margin:20px 0;
	}
	
	.slide-color {
		margin:10px 0;
	}
	
	#slidedialog {
		overflow:hidden;
	}
	
	#slide-dialog-style {
		display:block;
	}
	
	#previmg, #bgimg, #nextimg {
		background:url("/assets/loader.gif") no-repeat center center;
	}
	
</style>

<!--- catalog navigation -->
<%= render :partial => 'catalog-navigation' %>

<div id="slidedialog">
	<img id="slide-dialog-img" height="600px" width="400px"/>
	<span id="slide-dialog-style"></span>	
	<span id="slide-dialog-description"></span>	
</div>	

<div id="bg">
    <a href="#" class="nextImageBtn" title="next"></a><a href="#" class="prevImageBtn" title="previous"></a>
    <div class="slide-base-image">
		<%= link_to image_tag(@style1.picture.url(:base),  :id => "previmg", 
		 	:onClick => "showDialog($('.prev-style').text(), $('.prev-description').text(), $('#previmg').attr('src'))"),
			'#',    :onClick => "return false;" %>
		<div class="slide-content">
			<p class="slide-style-name prev-style"><%= @style1.name %></p>
			<p class="slide-description prev-description"><%= @style1.description %></p>
			<p class="slide-color prev-color"><%= Color.find(@style1.color_id).color_name %></p>
		</div>	
	</div>
    <div id="div-center"  class="slide-base-image">
		<%= link_to image_tag(@style2.picture.url(:base),  :id => "bgimg", 
		 	:onClick => "showDialog($('.bg-style').text(), $('.bg-description').text(), $('#bgimg').attr('src'))"),
			'#',    :onClick => "return false;" %>
		<div class="slide-content">
			<p class="slide-style-name bg-style"><%= @style2.name %></p>
			<p class="slide-description bg-description"><%= @style2.description %></p>
			<p class="slide-color bg-color"><%= Color.find(@style2.color_id).color_name %></p>
		</div>	
	</div>
    <div class="slide-base-image">
		<%= link_to image_tag(@style3.picture.url(:base),  :id => "nextimg", 
		 	:onClick => "showDialog($('.next-style').text(), $('.next-description').text(), $('#nextimg').attr('src'))"),
			'#',    :onClick => "return false;" %>
		<div class="slide-content">
			<p class="slide-style-name next-style"><%= @style3.name %></p>
			<p class="slide-description next-description"><%= @style3.description %></p>
			<p class="slide-color next-color"><%= Color.find(@style3.color_id).color_name %></p>
		</div>	
	</div>
	
</div>
<div id="thumbnails_wrapper">
    <div id="outer_container">
        <div class="thumbScroller">
            <div class="container">
				 <% @styles.each do |style| %>	
					<div class="content">
						<div>
							<%= link_to image_tag(style.picture.url(:thumbnail), :class => "thumb"), style.picture.url(:base) %>
						</div>				
					</div>	
				<% end %>
            </div>
        </div>
    </div>
</div>

<%= javascript_include_tag 'slide' %>


<!--- remove this jQuery code later -->
<script type="text/javascript">
	
	$(".slide-base-image").hover(
		function() {
			$(this).children(".slide-content").css("visibility", "visible");
		},
		function() {
			$(this).children(".slide-content").css("visibility", "hidden");			
		}
	);
	
	// OPTIMIZE function to show the dialog
	function showDialog(name, desc, picture) {
		$("#slide-dialog-img").attr("src", picture);
		$("#slide-dialog-style").text(name);
		$("#slide-dialog-description").text(desc);		
		$("#slidedialog").dialog("open");
	}
	
</script>