<!--- javascript specific files for the slide view -->
<script type="text/javascript">

	$(document).ready(function(e){

		$("img").bind('load', function(){
			image = $(this);
			image.css("visibility","visible");
		});
	});

</script>



<div id="bg">
    <a href="#" class="nextImageBtn" title="next"></a><a href="#" class="prevImageBtn" title="previous"></a>
    <div><%= image_tag @previmg,  :id => "previmg"  %></div>
    <div><%= image_tag @bgimg, :id => "bgimg"  %></div>
    <div><%= image_tag @nextimg, :id => "nextimg"  %></div>
	
</div>
<div id="thumbnails_wrapper">
    <div id="outer_container">
        <div class="thumbScroller">
            <div class="container">
				 <% @styles.each do |style| %>	
					<div class="content">
						<div>
							<%= link_to image_tag(style.picture.url(:thumbnail), :class => "thumb"), style.picture.url(:base) %>
						</div>				
					</div>	
				<% end %>
            </div>
        </div>
    </div>
</div>

<%= javascript_include_tag 'slide' %>
