<footer id="footer">
	<div class="footer-content">
		<%= link_to image_tag("twitter.png"), "http://twitter.com/TadashiShoji", :target => 'blank' %>
		<%= link_to image_tag("facebook.png"), "http://www.facebook.com/tadashishoji",  :target => 'blank'  %>
		<ul id="footer-links">
			<li><%= link_to "NEWSLETTER", "#"  %></li>
			<li><%= link_to "WHOLESALE", "http://catalog.tadashishoji.com", :target => 'blank' %></li>
			<li><%= link_to "PRIVACY POLICY", "#"  %></li>
		</ul>	
	</div>	
</footer>	
