<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/javascripts' %>
  <%= render 'layouts/admin_stylesheets' %>
</head>
	<header>
		<% if signed_in? %>
			<%= link_to "Sign out", signout_path, :class => "signout_link" %>
		<% end %>	
	</header>	
	<body>
		<section id="flash">
			<% flash.each do |key, value| %>
				<div class="flash <%= key %>"><%= value %></div>
			<% end %>
		</section>	
		<%= yield %>
		<!-- debug information not shown for production -->
		<% if Rails.env.development? %>
			<section id="debug">
				<%= debug(params) %>
			</section>
		<% end %>		
	</body>
</html>
