<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= render 'layouts/navigation' %>	
	<div id="wrap">
			<div id="main" class="container showgrid">
				<%= yield %>
			</div>	
		</div>	
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
