<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= render 'layouts/navigation' %>
	<div class="container showgrid">
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
